@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-slate-100 min-h-screen;
}

a {
  @apply text-brand-400 hover:text-brand-300 transition-colors;
}
